@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Poppins', sans-serif;
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgb(51, 52, 53) rgb(10, 11, 11);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: rgb(10, 11, 11);
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(51, 52, 53);
  border-radius: 20px;
  border: 3px solid rgb(10, 11, 11);
}
