@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Poppins', sans-serif;
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #E5E7EB #1F2937;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #1F2937;
}

*::-webkit-scrollbar-thumb {
  background-color: #E5E7EB;
  border-radius: 20px;
  border: 3px solid #1F2937;
}
