.ConsoleFeed div[data-method] {
  margin: 6px 0;
  border-radius: 4px;
}

.ConsoleFeed div[data-method] div[data-type="object"] > ol {
  vertical-align: unset;
}

.ConsoleFeed div[data-method] div[data-type="object"] li {
  line-height: 1.5rem !important;
}

@mixin ConsoleFeedIcon {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 20px;
  line-height: 2.3rem;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  font-feature-settings: "liga";
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.ConsoleFeed div[data-method="info"] > div:first-child:before {
  @include ConsoleFeedIcon();
  content: "\e88e"; 
}

.ConsoleFeed div[data-method="warn"] > div:first-child:before {
  @include ConsoleFeedIcon();
  content: "\f083"; 
}

.ConsoleFeed div[data-method="error"] > div:first-child:before {
  @include ConsoleFeedIcon();
  content: "\e99a"; 
}

.ConsoleFeed div[data-method="debug"] > div:first-child:before {
  @include ConsoleFeedIcon();
  content: "\e868"; 
}


