name: Test Main Matrix

on:
  push:
    branches: [main]
    paths-ignore:
      - 'website/**'
  workflow_dispatch:

jobs:
  test_main_matrix:
    name: Tests [Node ${{ matrix.node_version }}]
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        node_version: ['18', '20', '22', '24']
        os: [ubuntu-latest]

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # tag=v4.2.2
      - name: Setup workspace
        uses: ./.github/actions/setup-pnpm-node
        with:
          node-version: ${{ matrix.node_version }}

      - name: Run tests
        run: pnpm test
