name: Test

on:
  push:
    branches: [ main ]
  pull_request:
  workflow_dispatch:

jobs:
  verify:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        node_version: ['14', '16']
        os: [ubuntu-latest]

    steps:
      - uses: actions/checkout@v3
      
      - name: Use Node.js ${{ matrix.node_version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node_version }}

      - name: Install dependencies
        run: yarn install

      - name: Lint
        run: yarn lint
        
      - name: Type check
        run: yarn typecheck
        
      - name: Run tests
        run: yarn test

