name: CI Checks

on:
  push:
    branches: [main]
    paths-ignore:
      - 'website/**'
  pull_request:
    paths-ignore:
      - 'website/**'
  workflow_dispatch:

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # tag=v4.2.2
      - name: Setup workspace
        uses: ./.github/actions/setup-pnpm-node
        with:
          node-version: '24'

      - name: Lint
        run: pnpm lint:ci

  typecheck:
    name: TypeScript
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # tag=v4.2.2
      - name: Setup workspace
        uses: ./.github/actions/setup-pnpm-node
        with:
          node-version: '24'

      - name: Type check
        run: pnpm typecheck

  test_pr:
    name: Tests
    if: github.event_name == 'pull_request'
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # tag=v4.2.2
      - name: Setup workspace
        uses: ./.github/actions/setup-pnpm-node
        with:
          node-version: '24'

      - name: Run tests
        run: pnpm test
